body{
    padding:0;
    margin: 0;
}
.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5.5rem 1fr 2fr auto;
    grid-template-areas: 
    "navbar"
    "body1"
    "body2"
    "footer";
    height: 100vh;
}

nav{
    grid-area: navbar;
    padding: 3rem;
    background-color: white;
}
main{
    grid-area: body1;
    padding: 2rem;
    background-color: palevioletred;
}
aside{
    grid-area: body2;
    padding: 2rem;
    background-color: rgb(59, 133, 19);
}
footer{
    grid-area: footer;
    padding: 10rem;
    background-color: gold;
}